* {
    margin: 0;
    padding: 0;
}

.boks {  
    width: 50%;
    margin: 2em auto;
}

.nav {
    font-weight: bold;
    font-size: 1.2em;
    text-align: left;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: auto;
    overflow: hidden;
    background-color: #333;
}

.nav li {
    display: inline-block;
    margin: 0.7em 2em;
}

.nav a {
    text-decoration: none;
    display: block;
    color: white;
}